.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    height: 550px;
    background-color: black;
    border: 1px solid black;
    margin-top: 2rem;
    position: relative;
}